* {
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
	box-sizing: border-box;
	color: whitesmoke;

}
body {
	background: whitesmoke;
	width: 100%;
}
.zagolovok {
    font-size: 50px;
    text-align: center;   
    color: darkgreen;
    background: seagreen;
    border-radius: 10px;
}
body {
	min-height: 100vh;
	background:linear-gradient(rgba( 0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("zemla.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	flex-direction: column;
}
@media (max-width: 599px){
	body {
		background-position: 50% center;

	}
}
main {
	padding: 40px;
}
@media (min-width: 769px) and (max-width: 1200px) {
  body {
  	
    font-size: 18px;
  }
  .zagolovok {
  	font-size: 90px;
  }
}
footer p {
	font-size: 10px;
	color: dimgray;
}
footer {
	text-align: center;
}
main p {
	font-size: 20px;
}
main ul {
	padding:60px;
	margin: 0px;
}
